@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: Arial, Helvetica, sans-serif; */
}

.hero {
	@apply flex flex-col xl:flex-row gap-5 relative z-0 max-w-[1440px] mx-auto bg-linear-gradient-1;
}

.overlay-hero {
	@apply top-0 left-0 w-full min-h-screen bg-linear-gradient-1;
}

.overlay-connect {
	@apply absolute bottom-0 w-full h-[520px] bg-linear-gradient-3 z-[2] border-b border-primary-300;
}

.title {
	@apply font-helvetica;
}

.hero-title-size {
	@apply text-[36px] md:text-[50px] lg:text-[64px] xl:text-[72px];
}

.hero-spacing {
	@apply max-w-[672px] md:max-w-[862px];
}

.card-description {
	@apply text-[16px] lg:text-[24px];
}

.card-description-hover {
	@apply text-[14px] lg:text-[18px];
}

.container-section-3 {
	@apply max-w-[862px];
}

.title-card-section-3 {
	@apply font-bold font-helvetica text-start;
}

.description-card-section-3 {
	@apply font-normal font-poppins text-start;
}

.divide-y {
	@apply px-2 mx-4;
}

.hide-scroll-bar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}

.react-international-phone-country-selector-button {
	border: none !important;
}
